<div class="vert-nav">
    <div class="vertnav-avatar-title">
        <% if current_user.photo.attached? %>
                    <%= cl_image_tag current_user.photo.key, class: "avatar-large" %>
                    <%end%>
        <h1 class="vertnav-username">@<%= current_user.username %></h1>
        <p class="vertnav-usertype">User Type</h1>
    </div>
    <div class="vertnav-items">
        <div class="flex">
        <i class="fas fa-wave-square"></i>
        <%= link_to "Station", station_index_path, class: "nav-text" %>
        </div>
        <div class="flex">
        <i class="fas fa-music"></i>
        <%= link_to "Playlists", playlists_path, class: "nav-text" %>
        </div>
        <div class="flex">
        <i class="fas fa-compact-disc"></i>
        <%= link_to "Albums", albums_path, class: "nav-text" %>
        </div>
        <div class="flex">
        <i class="fas fa-heart"></i>
        <%= link_to "Liked", index_path(current_user), class: "nav-text" %>
        </div>
        <div class="flex">
        <i class="fas fa-user"></i>
        <%= link_to "Account", user_path(current_user), class: "nav-text" %>
        </div>
    </div>

</div>